.container {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.todo-form {
  align-self: center;
}

.todo-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.todo-description {
  font-size: 20px;
}

.todo-status {
  font-size: 12px;
}

.toggle-todo {
  display: flex;
  margin-top: 20px;
}

.todo-completed {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.todo-active {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.todo-delete-btn {
  width: 20%;
}

.todo-status-container {
  display: flex;
}
